@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    /* background-color: rgba(255, 255, 255, 0.9); */
    background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3)), url('/static/images/background.jpg');
    /* background:url('/static/images/background.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.card{
    backdrop-filter: blur(14px);
    background: rgba(255,255,255,0.2);
    /* background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.3)); */
    /* color: white; */
}
.form-control{
    backdrop-filter: blur(14px);
    background: rgba(255,255,255,0.2);
}
.hidden{
    display: none;
}